/* .font-poppins {
    font-family: 'Poppins', sans-serif;
  }


.separator {
    height: 1px;
    background-image: repeating-linear-gradient(90deg, transparent, transparent 1px, white 1px, white 2px);
} */