body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.custom-popup .leaflet-popup-content-wrapper {
  border-radius: 8px;
  min-width: 250px;
}

.custom-popup .leaflet-popup-content {
  margin: 12px;
}

.custom-popup .leaflet-popup-tip {
  background: white;
}